<!DOCTYPE html>
<html>
<head>
  <title>LannisterData</title>
  <%= stylesheet_link_tag    "lannister_data/application", media: "all" %>
  <%= javascript_include_tag "lannister_data/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
